.digital-technology {
    min-width: 414px;
    background: url('../../images/bg-wheat.png');
    background-size: 450%;
    padding-top: 83px;
    padding-bottom: 69px;
    align-items: center;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    flex-wrap: wrap;
}

.drive-more-customers-through-digital {
    margin-bottom: 80px;
    text-align: center;
}

.digital-technology__title,
.digital-technology__description {
    margin: 0;
    margin-bottom: 35px;
}

.digital-technology__title {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: var(--text-color);
    text-align: center;
}

.digital-technology__description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--second-text-color);
    font-size: 20px;
}

.digital-technology__link-button {
    max-width: 185px;
    max-height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 36px 10px 36px;
    background-color: var(--secondary-color-1);
    color: var(--basic-white);
    border-radius: 37px;
    text-transform: capitalize;
    text-align: center;
}

.digital-technology__link-button:first-of-type {
    margin-bottom: 20px;
    margin-right: 10px;
}

.digital-technology__link-button:last-of-type {
    border: 1px solid var(--secondary-color-1);
    background-color: transparent;
    color: var(--secondary-color-1);
    margin-bottom: 80px;
}

.digital-technology__form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    width: 328px;
}

.form-title {
    font-size: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    line-height: 32px;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

.form-label {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-weight: 600;
    margin-bottom: 10px;
}

.form-input,
.form-select {
    margin-bottom: 12px;
    outline: none;
    border: 1px solid var(--muted-color);
    border-radius: 5px;
    padding-left: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 20px;
    line-height: 28px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: var(--second-text-color);
}

.form-select:last-of-type {
    margin-bottom: 40px;
}

.form-label::after {
    content: '*';
}

.form-button-link {
    padding: 15px 40px 15px 40px;
    color: var(--basic-white);
    background-color: var(--primary-color);
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
}